jenny5-firmware/.vs/jenny5-firmware/v14/.suo
jenny5-firmware/__vm/.jenny5-firmware.vsarduino.h
jenny5-firmware/__vm/Compile.vmps.xml
jenny5-firmware/__vm/Configuration.Debug.vmps.xml
jenny5-firmware/__vm/Upload.vmps.xml
*.d
*.o
*.a
*.elf
*.hex
*.buildinfo
*.vcxproj
jenny5-firmware/jenny5-firmware.vcxproj
*.vcxproj
jenny5-firmware/jenny5-firmware.vcxproj
*.filters